<!DOCTYPE html>
<html>
<head>
    <title>Preview Dataset</title>
</head>
<body>

<h2>Preview Dataset</h2>

<table border="1" cellpadding="10">

<thead>
<tr>

<% data.fields.forEach(field => { %>
<th><%= field.id %></th>
<% }) %>

</tr>
</thead>

<tbody>

<% data.records.forEach(row => { %>

<tr>

<% data.fields.forEach(field => { %>

<td><%= row[field.id] %></td>

<% }) %>

</tr>

<% }) %>

</tbody>

</table>

</body>
</html>